<div class="wrapper">

    <div class="container">
        <header class="subnav-hero-section">
            <h1 class="title">Remember Them<img src="/css/logo.png" alt="Navy SEAL Trident" height="50" width="101">
            </h1>
        </header>
    </div>

    <div class="container" id="menu-bar">    
        <div>
            <ul class="menu menu-hover-lines">
                <li><a href="/">Home</a></li>
                <li><a href="/SEALs">Fallen Service Members</a></li>
                <li><a href="/creed">Creeds</a></li>
                {{!-- <li><a href="/links">Links</a></li> --}}
                {{!-- <li><a href="/about">About Us</a></li>
                <li><a href="/contact">Contact Us</a></li> --}}
            </ul>

        </div>
    </div>

    <br>

<h3 id="about-title">ABOUT OUR TEAM</h3>
{{! Message to the user about our team }}
<div class="container" id="about-text">
    
    <blockquote id="bq-about">
    This website was conceived by four web development students fulfilling, three of whom are 
    veterans (two Army and one Marine). The initial idea was to create a tribute page to fallen 
    Navy SEALs; this idea has since extended to all of the service branches.


    The purpose of this site is to provide visitors a place to learn, research, and pay tribute
    to those men and women who have sacrificed themselves for their country. We thank you for 
    your interest in this site. We welcome your feedback on how to make this page better.

    </blockquote>

</div>
    <div>
        <p>Alvin Clemens Jr.</p>
        <p>Evan Mackay, US Army</p>
        <p>Jon Jesse, USMC</p>
        <p>Layne D. Hansen, US Army</p>
    </div>
<br>
    <footer>

        <div class="container" id="footer-bar">    
            <div>
                <ul class="menu menu-hover-lines">
                    {{!-- <li><a href="/">Home</a></li>
                    <li><a href="/SEALs">Fallen Service Members</a></li>
                    <li><a href="/creed">Creeds</a></li> --}}
                    <li><a href="/links">Links</a></li>
                    <li><a href="/about">About Us</a></li>
                    <li><a href="/contact">Contact Us</a></li>
                </ul>

            </div>

        </div>
            <blockquote id="quote">"To us, and those like us, damn few."</blockquote>
    </footer>
</div>

