<h1>About our team</h1>
{{! Message to the user about our team }}
    <p>

    </p>

<footer>

    <div class="container" id="menu-bar">    
        <div>
            <ul class="menu menu-hover-lines">
                <li><a href="#">Home</a></li>
                <li><a href="#">Fallen SEALs</a></li>
                <li><a href="#">Quotes</a></li>
                <li><a href="#">Links</a></li>
                <li><a href="#">SEAL Creed</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
        </div>
    </div>

        <blockquote id="quote">"To us, and those like us, damn few."</blockquote>
</footer>