<h1>About our team</h1>
{{! Message to the user about our team }}
    <p>

    </p>

<footer>
    <div class="flex-dir-row align-spaced">
        <ul>
            <li><a href='/'>Fallen SEALs</a></li>
            <li>Quotes</li>
            <li>Links</li>
            <li>Videos</li>
            <li><a href="/creed">SEAL Creed</a></li>
        </ul>
    </div>

    <blockquote>"To us, and those like us, damn few."</blockquote>
</footer>