<h1>About our team</h1>
{{! Message to the user about our team }}
    <p>

    </p>

<footer>
      <div class="grid-x grid-padding-x">
        <a class="cell medium-3" href='/'>Fallen SEALs</a>
        <a class="cell medium-3" href=''>Quotes</a>
        <a class="cell medium-3" href=''>Other resources</a>
        <a class="cell medium-3" href="/creed">SEAL Creed</a>
      </div>

      <blockquote class="foot-quote">"To us, and those like us, damn few."</blockquote>
</footer>