<h1>Tell a new SEALs' story here</h1>

{{! Form for submitting a new SEAL with all of the appropriate fields }}
<form id="newmember" class="button-size">
  <textarea type="text" name="seal" cols="1" rows="7"></textarea>
  <button type="submit">Submit</button>
</form>

<footer>
    <ul>
        <li><a href='/'>Fallen SEALs</a></li>
        <li>Quotes</li>
        <li>Links</li>
        <li>Videos</li>
        <li>SEAL Creed</li>
    </ul>

    <blockquote>"To us, and those like us, damn few."</blockquote>
</footer>