<div class="wrapper">

    <div class="container">
        <header class="subnav-hero-section">
            <h1 class="title">Remember Them<img src="/css/logo.png" alt="Navy SEAL Trident" height="50" width="101">
            </h1>
        </header>
    </div>

  <h1>Tell a New Servicemember's Story Here</h1>

{{! Form for submitting a new SEAL with all of the fields sepcified in models }}
<form class="create-form" action="upload.php" method="post" enctype="multipart/form-data">
  <div class="grid-container">
    <div class="grid-y grid-padding-y">
      <!-- Image upload -->
      <div class="medium-6 cell">
        Enter the URL of the image of the Service Member
        <input type="text" name="fileToUpload" id="fileToUpload">
      </div>
      <!-- First -->
      <div class="medium-6 cell">
        <label>First Name
          <input type="text" placeholder="First" id="first">
        </label>
      </div>
      <!-- Last -->
      <div class="medium-6 cell">
        <label>Last Name
          <input type="text" placeholder="Last" id="last">
        </label>
      </div>
      <!-- Age -->
      <div class="medium-6 cell">
        <label>
          How old is this individual?
          <input type="number" min="17" max="120" id="age">
        </label>
      </div>
      <!-- Branch of Service --> 
      <div class="medium-6 cell">
        <label>
          Which branch did this individual serve in?
          <select name="branch" id="branch">
            <option value="Army">Army</option>
            <option value="Marine Corps">Marine Corps</option>
            <option value="Navy">Navy</option>
            <option value="Air Force">Air Force</option>
            <option value="Coast Guard">Coast Guard</option>
          </select>
      </div>
      <!-- DOB -->
      <div class="medium-6 cell">
        <label>Date of birth
          <input type="date" id="dob">
        </label>
      </div>
      <!-- DOD -->
      <div class="medium-6 cell">
        <label>Date of death
          <input type="date" id="dod">
        </label>
      </div>
      <!-- Unit -->
      <div class="medium-6 cell">
        <label>Unit
          <input type="text" placeholder="Unit" id="unit">
        </label>
      </div>
      <!-- Awards -->
      <div class="medium-6 cell">
        <label>Awards
          <input type="text" placeholder="Awards" id="awards">
        </label>
      </div>
      <!-- Summary of Service -->
      <div class="medium-6 cell">
        <label>Summary of service
          <input type="text" placeholder="SoS" id="sos">
        </label>
      </div>
    </div>
  </div>

  <button type="submit" value="Upload Image" name="submit" class="button success">Submit</button>
</form>

<div><span id="error"></span></div>


    <footer>

        <div class="container" id="menu-bar">    
            <div>
                <ul class="menu menu-hover-lines">
                    <li><a href="/">Home</a></li>
                    <li><a href="/SEALs">Fallen Service Members</a></li>
                    <li><a href="/creed">Creeds</a></li>
                    <li><a href="/links">Links</a></li>
                    <li><a href="/about">About Us</a></li>
                    <li><a href="/contact">Contact Us</a></li>
                </ul>

            </div>

        </div>
            <blockquote id="quote">"To us, and those like us, damn few."</blockquote>
    </footer>

</div>
