<div class="wrapper">

    <div class="container">
        <header class="subnav-hero-section">
            <h1 class="title">Remember Them<img src="/css/logo.png" alt="Navy SEAL Trident" height="50" width="101">
            </h1>
        </header>
    </div>

  <h1>Tell a New Servicemember's Story Here</h1>

{{! Form for submitting a new SEAL with all of the fields sepcified in models }}
<form class="create-form" action="upload.php" method="post" enctype="multipart/form-data">
  <div class="grid-container">
    <div class="grid-y grid-padding-y">
      <!-- Image upload -->
      <div class="medium-6 cell">
        Select image to upload:
        <input type="file" name="fileToUpload" id="fileToUpload">
      </div>
      <!-- First -->
      <div class="medium-6 cell">
        <label>First Name
          <input type="text" placeholder="First" id="first">
        </label>
      </div>
      <!-- Last -->
      <div class="medium-6 cell">
        <label>Last Name
          <input type="text" placeholder="Last" id="last">
        </label>
      </div>
      <!-- Age -->
      <div class="medium-6 cell">
        <label>
          How old is this individual?
          <input type="number" min="17" max="120" id="age">
        </label>
      </div>
      <!-- Branch of Service --> 
      <div class="medium-6 cell">
        <label>
          Which branch did this individual serve in?
          <select name="branch" id="branch">
            <option value="army">Army</option>
            <option value="marine-corps">Marine Corps</option>
            <option value="navy">Navy</option>
            <option value="air-force">Air Force</option>
            <option value="coast-guard">Coast Guard</option>
            <option value="national-guard">National Guard</option>
          </select>
      </div>
      <!-- DOB -->
      <div class="medium-6 cell">
        <label>Date of birth
          <input type="text" placeholder="MM/DD/YYYY" id="dob">
        </label>
      </div>
      <!-- DOD -->
      <div class="medium-6 cell">
        <label>Date of death
          <input type="text" placeholder="MM/DD/YYYY" id="dod">
        </label>
      </div>
      {{!-- Branch of Service --}}
      <div class="medium-6 cell">
        <label>Branch of Service
          <input type="text" placeholder="Branch of Service" id="BoS">
        </label>
      </div>
      <!-- Unit -->
      <div class="medium-6 cell">
        <label>Unit
          <input type="text" placeholder="Unit" id="unit">
        </label>
      </div>
      <!-- Awards -->
      <div class="medium-6 cell">
        <label>Awards
          <input type="text" placeholder="Awards" id="awards">
        </label>
      </div>
      <!-- Summary of Service -->
      <div class="medium-6 cell">
        <label>Summary of service
          <input type="text" placeholder="SoS" id="sos">
        </label>
      </div>
    </div>
  </div>

  <button type="submit" value="Upload Image" name="submit" class="button success">Submit</button>
</form>

  <div id="error"><span></span></div>


      <div class="container" id="menu-bar">    
          <div>
            <ul class="menu menu-hover-lines">
                <li><a href="/">Home</a></li>
                <li><a href="/SEALs">Fallen Service Members</a></li>
                <li><a href="#">Quotes</a></li>
                <li><a href="#">Links</a></li>
                <li><a href="/creed">Creeds</a></li>
                <li><a href="/about">Contact Us</a></li>
            </ul>
          </div>
      </div>
</div>
