<h1>Tell a new SEALs' story here</h1>

{{! Form for submitting a new SEAL with all of the fields sepcified in models }}
<form>
  <div class="grid-container">
    <div class="grid-y grid-padding-y">
      <!-- First -->
      <div class="medium-6 cell">
        <label>First Name
          <input type="text" placeholder="First" id="first">
        </label>
      </div>
      <!-- Last -->
      <div class="medium-6 cell">
        <label>Last Name
          <input type="text" placeholder="Last" id="last">
        </label>
      </div>
      <!-- Age -->
      <div class="medium-6 cell">
        <label>
          How old is this individual?
          <input type="number" value="110" id='age'>
        </label>
      </div>
      <!-- DOB -->
      <div class="medium-6 cell">
        <label>Date of birth
          <input type="text" placeholder="DOB" id='dob'>
        </label>
      </div>
      <!-- DOD -->
      <div class="medium-6 cell">
        <label>Date of death
          <input type="text" placeholder="DOD" id="dod">
        </label>
      </div>
      <!-- Unit -->
      <div class="medium-6 cell">
        <label>Unit
          <input type="text" placeholder="Unit" id="unit">
        </label>
      </div>
      <!-- Awards -->
      <div class="medium-6 cell">
        <label>Awards
          <input type="text" placeholder="Awards" id="awards">
        </label>
      </div>
      <!-- Summary of Service -->
      <div class="medium-6 cell">
        <label>Summary of service
          <input type="text" placeholder="SoS" id="sos">
        </label>
      </div>
    </div>
  </div>
  <a class="button success" href="/api/servicemembers">So Basic</a>
</form>


<footer>

    <div class="container" id="menu-bar">    
        <div>
            <ul class="menu menu-hover-lines">
                <li><a href="#">Home</a></li>
                <li><a href="#">Fallen SEALs</a></li>
                <li><a href="#">Quotes</a></li>
                <li><a href="#">Links</a></li>
                <li><a href="#">SEAL Creed</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
        </div>
    </div>

        <blockquote id="quote">"To us, and those like us, damn few."</blockquote>
</footer>