<div class="wrapper">

    <div class="container">
        <header class="subnav-hero-section">
            <h1 class="title">Remember Them<img src="/css/logo.png" alt="Navy SEAL Trident" height="50" width="101">
            </h1>
        </header>
    </div>

    <div class="container" id="menu-bar">    
        <div>
            <ul class="menu menu-hover-lines">
                <li><a href="/">Home</a></li>
                <li><a href="/SEALs">Fallen Service Members</a></li>
                <li><a href="/creed">Creeds</a></li>
                {{!-- <li><a href="/links">Links</a></li> --}}
                {{!-- <li><a href="/about">About Us</a></li>
                <li><a href="/contact">Contact Us</a></li> --}}
            </ul>

        </div>
    </div>

    <br>

    {{! Home page with navigation links to other areas of the website }}
    
    <div class="container">

        <section class="contact-us-section" id="contact-form">
            
            <div class="columns contact-us-section-right">
                <h1 class="contact-us-header">Contact Us</h1>
                <form class="contact-us-form">
                    <input type="text" placeholder="Full name" id="name-field">
                    <input type="email" placeholder="Email" id="email-field">
                    <textarea name="message" id="message-field" rows="12" placeholder="Type your message here"></textarea>
                    <div class="contact-us-form-actions">
                        <input type="submit" class="button" id="form-button" value="SUBMIT" />
                    </div>
                </form>
                </div>
            </div>
        
        </section>


    </div>

    <br>

    <footer>

        <div class="container" id="footer-bar">    
            <div>
                <ul class="menu menu-hover-lines">
                    {{!-- <li><a href="/">Home</a></li>
                    <li><a href="/SEALs">Fallen Service Members</a></li>
                    <li><a href="/creed">Creeds</a></li> --}}
                    <li><a href="/links">Links</a></li>
                    <li><a href="/about">About Us</a></li>
                    <li><a href="/contact">Contact Us</a></li>
                </ul>

            </div>

        </div>
        <blockquote id="quote">"To us, and those like us, damn few."</blockquote>
    
    </footer>

</div>