<div class="wrapper">

    <!-- Header and logo -->
    <div class="container">
        <header class="subnav-hero-section">
            <a href="/"><h1 class="title">Remember Them<img src="/css/logo.png" alt="Remember Them Logo" height="50" width="101"></a>
            </h1>
        </header>
    </div>

    <!-- Navbar -->
    <nav class="container" id="menu-bar">
        <div>
            <ul class="menu menu-hover-lines">
                <li><a href="/">Home</a></li>
                <li><a href="/SEALs">Fallen Service Members</a></li>
                <li><a href="/creed">Creeds</a></li>
            </ul>
        </div>
    </nav>

    <br>

    <!-- Dropdown menu with links to each creed -->
    <nav class="creed-navbar">
        <div class="top-bar-container" data-sticky-container>
            <div class="sticky sticky-topbar" data-sticky data-options="anchor: page; marginTop: 0; stickyOn: small;">
                <div class="top-bar">
                    <div class="top-bar-left" id="inside-bar">
                        
                        <ul class="dropdown menu" data-dropdown-menu>
                            {{!-- <li class="menu-text"><a href="/">Remember Them</a></li> --}}
                            <li class="has-submenu">
                                <a href="#">Creeds</a>
                                <ul class="submenu menu vertical" data-submenu>
                                    <li><a href="#seal">Navy SEALs</a></li>
                                    <li><a href="#armysoldier">Army Soldier's Creed</a></li>
                                    <li><a href="#armysf">Army Special Forces</a></li>
                                    <li><a href="#afpr">Air Force Pararescueman</a></li>
                                    <li><a href="#marsoc">MarSOC Raiders</a></li>
                                    <li><a href="#marines">Marine Riflemans' Creed</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <br>

    <div id="seal-creed">
    <h2 class="title"><a name="seal">Navy SEAL Creed</a></h2>

    <pre>
    <blockquote>
    <p>
    In times of war or uncertainty there is a special breed of warrior ready to answer our 
    Nation’s call. A common man with uncommon desire to succeed.

    Forged by adversity, he stands alongside America’s finest special operations forces to 
    serve his country, the American people, and protect their way of life.

    I am that man.

    My Trident is a symbol of honor and heritage. Bestowed upon me by the heroes that 
    have gone before, it embodies the trust of those I have sworn to protect. By wearing the 
    Trident I accept the responsibility of my chosen profession and way of life. It is a 
    privilege that I must earn every day.

    My loyalty to Country and Team is beyond reproach. I humbly serve as a guardian to 
    my fellow Americans always ready to defend those who are unable to defend 
    themselves. I do not advertise the nature of my work, nor seek recognition for my 
    actions. I voluntarily accept the inherent hazards of my profession, placing the welfare 
    and security of others before my own.

    I serve with honor on and off the battlefield. The ability to control my emotions and my 
    actions, regardless of circumstance, sets me apart from other men.

    Uncompromising integrity is my standard. My character and honor are steadfast. 
    My word is my bond.

    We expect to lead and be led. In the absence of orders I will take charge, 
    lead my teammates and accomplish the mission. I lead by example in all situations.

    I will never quit. I persevere and thrive on adversity. My Nation expects me to be 
    physically harder and mentally stronger than my enemies. If knocked down, I will get 
    back up, every time. I will draw on every remaining ounce of strength to protect my 
    teammates and to accomplish our mission. I am never out of the fight.

    We demand discipline. We expect innovation. The lives of my teammates and the 
    success of our mission depend on me – my technical skill, tactical 
    proficiency, and attention to detail. My training is never complete.

    We train for war and fight to win. I stand ready to bring the full spectrum of 
    combat power to bear in order to achieve my mission and the goals 
    established by my country. The execution of my duties will be swift and 
    violent when required yet guided by the very principles that I serve to defend.

    Brave men have fought and died building the proud tradition and feared 
    reputation that I am bound to uphold. In the worst of conditions, the legacy 
    of my teammates steadies my resolve and silently guides my every deed.

    I will not fail.
    </p>
    </blockquote>
    </pre>
    </div>

    <div>
    <h2 class="title"><a name="armysoldier">Army Soldier's Creed</a></h2>

    <pre>
    <blockquote>
    I am an American Soldier.

    I am a warrior and a member of a team.

    I serve the people of the United States, and live the Army Values.

    I will always place the mission first.

    I will never accept defeat.

    I will never quit.

    I will never leave a fallen comrade.

    I am disciplined, physically and mentally tough, trained and proficient in my warrior tasks and drills.

    I always maintain my arms, my equipment and myself.

    I am an expert and I am a professional.

    I stand ready to deploy, engage, and destroy, the enemies of the United States of America in close combat.

    I am a guardian of freedom and the American way of life.

    I am an American Soldier.
    </blockquote>
    </pre>


    <h2 class="title"><a name="armysf">Army Special Forces Creed</a></h2>

    <pre>
    <blockquote>
    I am an American Special Forces soldier. A professional! I will do all 
    that my nation requires of me.
    I am a volunteer, knowing well the hazards of my profession.
    I serve with the memory of those who have gone before me: Roger's Rangers, 
    Francis Marion, Mosby's Rangers, the first Special Service Forces and 
    Ranger Battalions of World War II, The Airborne Ranger Companies of Korea. 
    I pledge to uphold the honor and integrity of all I am - in all I do.

    I am a professional soldier. I will teach and fight wherever my nation requires.
    I will strive always, to excel in every art and artifice of war.
    I know that I will be called upon to perform tasks in isolation, far from 
    familiar faces and voices, with the help and guidance of my God.

    I will keep my mind and body clean, alert and strong, for this is my debt to 
    those who depend upon me.
    I will not fail those with whom I serve. 
    I will not bring shame upon myself for the forces.
    I will maintain myself, my arms, and my equipment 
    in an immaculate state as befits a Special 
    Forces soldier.
    I will never surrender though I be the last. 
    If I am taken, I pray that I may have the 
    strength to spit upon my enemy.

    My goal is to succeed in any mission - and live to succeed again.
    I am a member of my nation's chosen soldiery. God grant that I may 
    not be found wanting, that I will not fail this sacred trust.
    </blockquote>
    </pre>

    <h2 class="title"><a name="afpr">Air Force Pararescueman Creed</a></h2>


    <pre>
    <blockquote>
    It is my duty as a Pararescueman to save life and to aid the injured.
    I will be prepared at all times to perform my assigned duties quickly and efficiently,
    placing these duties before personal desires and comforts.

    These things I do, that others may live.
    </blockquote>
    </pre>

    <h2 class="title"><a name="marsoc">MarSOC Raiders Creed</a></h2>

    <pre>
    <blockquote>
    My Title is Marine, but it is my choice and my choice alone 
    to be a Special Operations Marine. 
    I will never forget the tremendous sacrifice and 
    reputation of those who came before me.

    At all ranges my fires will be accurate. With surprise, speed, 
    and violence of action, 
    I will hunt enemies of my country and bring chaos to their doorstep. 
    I will keep my body strong, my mind sharp, 
    and my kit ready at all times.

    Raider and Recon men forged the path I follow. 
    With Determination, Dependability, and Teamwork I will uphold 
    the honor and the legacy passed down to me. 
    I will do the right thing always, and will let my actions 
    speak for me. As a quiet professional, 
    I will not bring shame upon myself or those with which I serve.

    Spiritus Invictus, an Unconquerable Spirit, will be my goal. 
    I will never quit, I will never surrender, I will never fail. 
    I will adapt to the situation. I will gain and maintain the initiative. 
    I will always go a little farther and carry more than my share.

    On any battlefield, at any point of the compass I will excel. 
    I will set the example for all others to emulate. 
    At the tip of the spear, I will teach and prepare others to seek out, 
    dismantle, and destroy our common enemies. I will fight side by side 
    with my partners and will be the first in and last out of any mission.

    Conquering all obstacles of mind, body, and spirit; the honor and pride 
    of serving in special operations will be my driving force. 
    I will remain always faithful to my brothers and always forward in my service.
    </blockquote>
    </pre>

    <h2 class="title"><a name="marines">Marine Riflemans' Creed</a></h2>

    <pre>
    <blockquote>
    This is my rifle. There are many like it but this one is mine. My rifle is my best friend.
    It is my life. I must master it as I must master my life. My rifle, wihthout me, is 
    useless. Without my rifle, I am useless. I must fire my rifle true. I must shoot 
    straighter than my enemy who is trying to kill me. I must shoot him before he shoots
    me. I will. My rifle and myself know that what counts in this war is not the rounds
    we fire, the noise of our burst, nor the smoke we make. We know that it is the hits
    that count. We will hit.
    
    My rifle is human, even as I, because it is my life. Thus, I will learn it as a brother. 
    I will learn its weaknesses, its strength, its parts, its accessories, its sights, 
    and its barrel. I will ever guard it against the ravages of weather and damage as I 
    will ever guard my legs, my arms, my eyes, and heart against damage. I will keep my 
    rifle clean and ready, even as I am clean and ready. We will become part of each other. 
    We will.
    
    Before God, I swear this creed. My rifle and myself are the 
    defenders of my country. We are the masters of our enemy. We are the saviors of my life. 
    So be it, until victory is America's and there is no enemy, but peace!
    </blockquote>
    </pre>

</div>

    <!-- Footer linking to other pages -->
    <footer>
        <div class="container" id="footer-bar">
            <div>
                <ul class="menu menu-hover-lines">
                    <li><a href="/">Home</a></li>
                    <li><a href="/SEALs">Fallen Service Members</a></li>
                    <li><a href="/creed">Creeds</a></li>
                    <li><a href="/links">Links</a></li>
                    <li><a href="/about">About Us</a></li>
                    <li><a href="/contact">Contact Us</a></li>
                </ul>
            </div>
        </div>
    </footer>