<h1>Remember Them</h1>

{{! Home page with navigation links to other areas of the website }}
<aside>
    <ul>
        <li><a href="/api/servicemembers">Add a hero</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact us</a></li>
    </ul>

</aside>

<footer>
    <ul class="row align-spaced">
        <li class="column small-4"><a href='/'>Fallen SEALs</a></li>
        <li class="column small-4">Quotes</li>
        <li class="column small-4"><a href="/resources">Other resources</a></li>
        <li class="column small-4"><a href="/creed">SEAL Creed</a></li>
    </ul>

    <blockquote>"To us, and those like us, damn few."</blockquote>
</footer>