<h1>Remember Them</h1>

{{! Home page with navigation links to other areas of the website }}
<aside>
    <ul>
        <li><a href="/api/servicemembers">Add a hero</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact us</a></li>
    </ul>

</aside>

<footer>
      <div class="grid-x grid-padding-x">
        <a class="cell medium-3" href='/'>Fallen SEALs</a>
        <a class="cell medium-3" href=''>Quotes</a>
        <a class="cell medium-3" href=''>Other resources</a>
        <a class="cell medium-3" href="/creed">SEAL Creed</a>
      </div>

      <blockquote class="foot-quote">"To us, and those like us, damn few."</blockquote>
</footer>