<h1>Remember Them</h1>

{{! Home page with navigation links to other areas of the website }}
<aside>
    <div class="flex-dir-column">
        <ul>
            <li><a href="/api/servicemembers">Add a hero</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="">Contact us</a></li>
        </ul>
    </div>
</aside>

<footer>
    <div class="flex-dir-row align-spaced">
        <ul>
            <li><a href='/'>Fallen SEALs</a></li>
            <li>Quotes</li>
            <li>Links</li>
            <li>Videos</li>
            <li><a href="/creed">SEAL Creed</a></li>
        </ul>
    </div>

    <blockquote>"To us, and those like us, damn few."</blockquote>
</footer>