<h1>Remember Them</h1>

{{! Home page with navigation links to other areas of the website }}
<aside>
    <ul>
        <li><a href="/api/servicemembers">Add a hero</a></li>
        <li>Add your story</li>
        <li>Add your tribute</li>
        <li><a href="/about">About</a></li>
        <li>Contact us</li>
    </ul>
</aside>

<footer>
    <ul>
        <li><a href='/'>Fallen SEALs</a></li>
        <li>Quotes</li>
        <li>Links</li>
        <li>Videos</li>
        <li>SEAL Creed</li>
    </ul>

    <blockquote>"To us, and those like us, damn few."</blockquote>
</footer>