<div class="wrapper">

    <div class="container">
        <header class="subnav-hero-section">
            <h1 class="title">Remember Them<img src="/css/trident.png" alt="Navy SEAL Trident" height="100" width="202">
            </h1>
        </header>
    </div>

    {{! Home page with navigation links to other areas of the website }}

    <div class="grid-x">
        <div class="cell small-3">
            <aside>
                <div class="flex-container flex-dir-column">
                    <ul class="aside-list">
                        <li><a href="/api/servicemembers">Add a hero</a></li>
                        <li><a href="/about">About</a></li>
                        <li><a href="">Contact us</a></li>
                    </ul>
                </div>
            </aside>
        </div>
        <div class="cell small-9">
            <div>
                <h3>I'm Here</h3>
            </div>

        </div>
    </div>

    <footer>

        <div>

            <ul class="menu menu-hover-lines" id="menu-bar">
                <li><a href="#">Home</a></li>
                <li><a href="#">Fallen SEALs</a></li>
                <li><a href="#">Quotes</a></li>
                <li><a href="#">Links</a></li>
                <li><a href="#">SEAL Creed</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>

        </div>

        <blockquote id="quote">"To us, and those like us, damn few."</blockquote>
    </footer>

</div>