<div class="wrapper">


    <div class="container">
        <header class="subnav-hero-section">
            <h1 class="title">Remember Them<img src="/css/logo.png" alt="Navy SEAL Trident" height="50" width="101">
            </h1>
        </header>
    </div>

    {{! Home page with navigation links to other areas of the website }}
    <div class="container">
        <div class="grid-x">
            <div class="cell small-3" id="aside">
                <div class="flex-container flex-dir-column" id="aside-items">
                    <ul class="aside-list">
                        <li><a href="/api/servicemembers">Add a hero</a></li>
                        <li><a href="/about">Add Your Story</a></li>
                        <li><a href="">Add Your Tribute</a></li>
                    </ul>
                </div>
            </div>
            <div class="cell small-9">
                <div id="sanity">
                    {{!-- <h3 id="sanity2">I'm Here</h3> --}}

                    {{!-- swiper lives below --}}

                    <div class="swiper-wrapper">
                        <div class="swiper-slide" style="background-image:url(./css/chris-kyle.jpg)"></div>
                        <div class="swiper-slide" style="background-image:url(./css/chris-kyle.jpg)"></div>
                        <div class="swiper-slide" style="background-image:url(./css/chris-kyle.jpg)"></div>
                        <div class="swiper-slide" style="background-image:url(./css/chris-kyle.jpg)"></div>
                        <div class="swiper-slide" style="background-image:url(./css/chris-kyle.jpg)"></div>
                        <div class="swiper-slide" style="background-image:url(./css/chris-kyle.jpg)"></div>
                        <div class="swiper-slide" style="background-image:url(./css/chris-kyle.jpg)"></div>
                        <div class="swiper-slide" style="background-image:url(./css/chris-kyle.jpg)"></div>
                        <div class="swiper-slide" style="background-image:url(./css/chris-kyle.jpg)"></div>
                        <div class="swiper-slide" style="background-image:url(./css/chris-kyle.jpg)"></div>
                    </div>
                    <!-- Add Pagination -->
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </div>
    </div>

</div>
</div>
</div>
</div>
<br>
<footer>

    {{!-- navbar   --}}
    <div class="container">


        <div class="container" id="menu-bar">
            <div>
                <ul class="menu menu-hover-lines">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Fallen SEALs</a></li>
                    <li><a href="#">Quotes</a></li>
                    <li><a href="#">Links</a></li>
                    <li><a href="#">SEAL Creed</a></li>
                    <li><a href="#">Contact Us</a></li>
                </ul>
            </div>
        </div>

        <blockquote id="quote">"To us, and those like us, damn few."</blockquote>
</footer>

</div>