<div class="wrapper">


    <div class="container">
        <header class="subnav-hero-section">
            <a href="/"><h1 class="title">Remember Them<img src="/css/logo.png" alt="Navy SEAL Trident" height="50" width="101"></h1></a>
        </header>
    </div>

    <div class="container" id="menu-bar">    
        <div>
            <ul class="menu menu-hover-lines">
                <li><a href="/">Home</a></li>
                <li><a href="/SEALs">Fallen Service Members</a></li>
                <li><a href="/creed">Creeds</a></li>
                {{!-- <li><a href="/links">Links</a></li> --}}
                {{!-- <li><a href="/about">About Us</a></li>
                <li><a href="/contact">Contact Us</a></li> --}}
            </ul>

        </div>
    </div>

    <br>

    {{! Home page with navigation links to other areas of the website }}
    <div class="container">
        <div class="grid-x">
            <div class="cell small-4">
                <div>
                    <h3 class="title-header">BOOKS</h3>
                    
                    <div class="work-feature-block row" id="movie-box">
                        <div class="columns medium-7">
                            <a href="https://www.amazon.com/The-Warrior-Elite-Dick-Couch-audiobook/dp/B005EDNGLI/ref=sr_1_1?dchild=1&keywords=THE+WARRIOR+ELITE&qid=1603940868&sr=8-1" target="_blank">
                                <img class="work-feature-block-image" src="/css/warrior-elite-cover.jpg" height="160" width="120" id="movie-poster"/>
                            </a>
                        </div>
                        
                        <div class="columns medium-5" id="book-info">
                            <h5 class="work-feature-block-header">THE WARRIOR ELITE by Dick Couch</h5>
                            <p>
                                Former SEAL commander follows SEAL class 228 and chronicles the sailors' journey through Basic Underwater Demolition/SEAL (BUDs) training.
                            </p>
                            <p>
                                In this book, Mr. Couch (Captain, U.S. Navy, retired), describes the struggles aspiring SEALs endure to become part of one of the most elite military units in the world.
                            </p>
                        </div>
                    
                    </div>
                
                </div>
            </div>
            
            <div class="cell small-4">
                <div>
                    <h3 class="title-header">MOVIES and TV</h3>
                    
                    <div class="work-feature-block row movie-box">
                        <div class="columns medium-7">
                            <a href="https://www.imdb.com/title/tt1591479/?ref_=fn_al_tt_1">
                                <img class="work-feature-block-image" src="/css/act-of-valor.jpg" height="165" width="124" id="movie-poster"/>
                            </a>
                        </div>
                        
                        <div class="columns medium-5" id="movie-info">
                            <h5 class="work-feature-block-header">ACT OF VALOR</h5>
                            <p>
                                A Navy SEAL platoon is tasked with tracking down a terrorist cell that is planning to attack the U.S. Homeland.
                            </p>
                            <p>
                                Active duty SEALs star in this film, who create possibly the most authentic action sequences ever seen in a war movie. 
                            </p>
                        </div>
                    
                    </div>
                
                </div>
            </div>
            
            <div class="cell small-4">
                <div>
                    <h3 class="title-header">Other Links</h3>

                    <div class="work-feature-block row movie-box" id="links-info">
                        <div class="columns medium-7">
                            <a href="https://www.navysealfoundation.org/">Navy SEAL Foundation Official Site</a>
                        </div>
                        <br>
                        <div class="columns medium-7">
                            <a href="https://www.facebook.com/NavySEALfoundation">Navy SEAL Foundation FACEBOOK Page</a>
                        </div>
                        <br>
                        <div class="columns medium-7">
                            <a href="https://www.navy.com/seals">Navy SEAL Recruiting Website</a>
                        </div>
                    
                    </div>
                </div>
            </div>
        
        </div>
    </div>

    <br>
    
    <footer>

        <div class="container" id="footer-bar">    
            <div>
                <ul class="menu menu-hover-lines">
                    {{!-- <li><a href="/">Home</a></li>
                    <li><a href="/SEALs">Fallen Service Members</a></li>
                    <li><a href="/creed">Creeds</a></li> --}}
                    <li><a href="/links">Links</a></li>
                    <li><a href="/about">About Us</a></li>
                    <li><a href="/contact">Contact Us</a></li>
                </ul>

            </div>

        </div>
            <blockquote id="quote">"To us, and those like us, damn few."</blockquote>
    </footer>

</div>