/* Global styles section
======================= */
#bg {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

h1 {
    text-align: center;
}

.txt {
    color: white;
}

.foot-quote {
    text-align: center;
}

/* Index styles section
======================= */


/* SEALs styles section
======================= */


/* Add New styles section
======================= */
.grid-container {
    width: 80%;
}

/* Creed styles section
======================= */
.creed {
    text-align: center;
    font-size: 1.25rem;
}

/* About styles section
======================= */
